:root {
	--color-text: rgba(255,255,255,0.8);
	--color-text-fade: rgba(255,255,255,0.7);

    --color-accent: #f88311;

	--color-bg: #2e2e2e;

	--color-fg: #111;

	--color-raised: #1C1C1C;

	--color-track: #222222;

	--color-light: rgba(255,255,255,0.03);
}

.keyboard-container {
	--color-black-key: #555555;
	--color-white-key: #888888;
}

.widget.push-container.absolute-position.on {
	background : #f88311;
}
.widget.push-container.absolute-position.on .label {
	color: #141414;
}
